<div class="taskbar-container">
    <button class="start-button-placeholder">START</button>
    <!-- <button (click)="launchFileExplorer()" class="start-button-placeholder">File Explorer</button> -->
    <button (click)="launchFileExplorer()" class="quick-link"><img [src]="getAppIcon('fileExplorerApp')"/></button>
    <!-- <button (click)="launchTestApp()" class="start-button-placeholder">TestApp</button> -->

    <div class="open-window-tabs">
        <button *ngFor="let window of windows" class="taskbar-tab"
            [class.active]="window.isActive && !window.isMinimized" [class.minimized]="window.isMinimized"
            (click)="taskbarWindowClick(window.id)" [title]="window.title">
            <img *ngIf="getAppIcon(window.appId)" [src]="getAppIcon(window.appId)" alt="" class="tab-icon" />
            <!-- {{ window.title }} -->
        </button>
    </div>
    <!-- Clock etc. -->
</div>